$spacings: 35px;

@mixin borders {
	border-radius: 10px;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@font-face {
	font-family: "Tombstone";
	src: url("/src/assets/tombstone-font/Tombstone.otf") format("otf"),
		url("/src/assets/tombstone-font/Tombstone.ttf") format("ttf");
}

@font-face {
	font-family: "Cowboy";
	src: url("/src/assets/cowboy-font/Cowboys 2.0.otf") format("otf");
}

body {
	font-family: "Cowboy";
	background-color: rgb(160, 160, 255);
	margin: 0;
	width: 100vw;
	height: 100vh;
	height: auto;
	overflow-x: hidden;

	#content {
		@include flex-column;
		width: 100%;
		height: 100%;
	}
}

header {
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 75px;

	button {
		font-size: 24px;
		border: none;
		background-color: white;
		height: 80%;
		width: fit-content;
		padding: 5px;
		transition: 0.25s;
		&:hover {
			font-size: 25px;
		}
	}
}

.content-card {
	@include flex-column;

	width: 80%;
	height: 25%;
	padding: 0;

	section {
		@include flex-column;
		@include borders;
		background-color: white;

		width: 100%;
		padding: 20px;
		margin-bottom: 50px;

		h3 {
			margin: 0;
		}
	}
}

footer {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.content-title {
	font-size: 48px;
}
.sub-title {
	font-size: 24px;
}

.contact-container {
	@include flex-column;
}

.img-container {
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
	object-fit: contain;
}

p {
	font-size: 24px;
}
